.building {
  background-image: url("../img/background1.png");
  background-position: center;
  background-size: cover;

  @include padding-top(64px, 48px);
  @include padding-bottom(64px, 48px);

  .building__overview-title {
    margin-top: 16px;
  }

  .building__overview-text {
    @include margin-top(32px, 24px);
  }

  .building__property-features-title {
    @include margin-top(32px, 24px);
  }

  $property-features-box-margin: 24px;

  .building__property-features-boxes {
    @include margin-top(32px - $property-features-box-margin, 24px - $property-features-box-margin);

    .property-features-box {
      margin-top: $property-features-box-margin;
    }
  }

  .building__certifications-title {
    @include margin-top(32px, 24px);
  }

  .building__certifications-text {
    @include margin-top(32px, 24px);
  }

  .building__address-title {
    @include margin-top(32px, 24px);
  }

  .building__address-text {
    @include margin-top(32px, 24px);
  }
}