$white:#FFFFFF;
$metal-black: #0A0B0F;
$persian-blue: #304FFE;
$persian-blue-dark: #1B2C8B;
$pebble-black: #191919;
$fosill-grey: #666666; // not my spelling
$almost-black: #0A0B0F;
$pearl-white: #e4e4e4;