.page-content {
  padding: 0 4%;
}

.box {
  box-shadow: 0 2px 8px 0 rgba(10, 11, 15, 0.1);
  width: 100%;
  padding: 32px;
  background-color: white;
}

.building {
  background-image: url("../img/background1.png");
  background-position: center;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 64px;

  .building__overview-title {
    margin-top: 16px;
  }

  .building__overview-text {
    margin-top: 32px;
  }

  .building__property-features-title {
    margin-top: 32px;
  }

  .building__property-features-boxes {
    margin-top: 32px;
  }

  .building__certifications-title {
    margin-top: 32px;
  }

  .building__certifications-text {
    margin-top: 32px;
  }

  .building__address-title {
    margin-top: 32px;
  }

  .building__address-text {
    margin-top: 32px;
  }
}

.video {
  background-image: url('https://placeimg.com/1300/700/arch');
  background-size: cover;
  background-position: center;

  height: 70vh;
  color: $white;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
  position: relative;


  .video__title-bar {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    background-color: rgba($persian-blue, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium down) {
      height: 80px;
    }

  }
}

.gallery {
  padding-top: 64px;

  .gallery__grid {
    margin-top: 64px;
  }

  .gallery__carousel {
    margin-top: 64px;
  }
}

.location {
  background-image: url("https://www.cpvmfg.com/app/uploads/2018/04/map-placeholder.jpg");
  background-position: center;
  background-size: cover;

  height: 110vh;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  .location__title-bar {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    background-color: rgba($white, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium down) {
      height: 80px;
    }

  }
}

.leasing {
  background-image: url("../img/leasing-background.png");
  background-position: center;
  background-size: cover;

  padding-top: 64px;
  padding-bottom: 64px;

  .leasing__brokerage-team-title {
    margin-top: 16px;
  }

  .leasing__brokerage-team-text {
    margin-top: 32px;
  }

  .leasing__brokerage-team-members {
    margin-top: 48px;
  }

  .team-member {
    text-align: center;
    position: relative;
    padding: 24px;
    margin: 8px 0;

    transition: box-shadow .2s;

    &:hover {
      box-shadow: 0 8px 24px rgba($almost-black, 0.2);
    }

    &__avatar {
      background-image: url('https://placeimg.com/200/200/people');
      height: 150px;
      width: 150px;
      margin: auto;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      @include max-dimensions(150px, 150px);
    }

    &__line {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 10px;
      background-color: $persian-blue;
    }

    &__name {
      font-weight: 500;
      margin-top: 24px;
    }

    .team-member__identities {
      div:first-child {
        margin-top: 4px;
      }
    }
  }

  .leasing-member__container {
    width: 336px;
    height: 164px;
    box-shadow: 0 16px 32px 0 rgba($almost-black, 0.1);
    background-color: $white;
  }

  &.leasing--no-avatars {
    .team-member {
      text-align: left;
      padding-left: 42px;

      &__name {
        margin-top: 0;
      }
    }
  }
}

.availabilities {
  background-image: url("../img/availabilities.png");
  background-position: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.availability-card {
  position: relative;
  height: 338px;
  border-radius: 5px;
  transition: box-shadow .2s;
  box-shadow: 0 16px 32px 0 rgba($almost-black, 0.1);
  background-color: $persian-blue;
  padding: 24px;
  margin-top: 32px;

  &:hover {
    box-shadow: 0 16px 32px 0 rgba($almost-black, 0.4);
  }

  &__title {
    color: $white;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
  }

  &__divider {
    background-color: $white;
    opacity: 0.2;
    margin: 0;
  }

  &__properties {
    margin-top: 39px;
  }

  &__property {
    text-align: left;
    color: $white;
    padding: 4px 0;
  }

  &__download-button {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 41px;
    background-color: $persian-blue-dark;
    color: $white;
    border-radius: 0 0 5px 5px;
    left: 0;
    bottom: 0;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;

    .availability-card__download-button-image {}

    .availability-card__download-button-text {
      font-weight: 500;
      margin-left: 8px;
      vertical-align: text-top;
    }
  }

}

.availability-card__virtual-tour {
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;

  .availability-card__virtual-tour-image {}

  .availability-card__virtual-tour-text {
    font-weight: 500;
    margin-left: 8px;
    vertical-align: text-top;
  }
}

.management {
  background-image: url("../img/background1.png");
  background-position: center;
  background-size: cover;

  padding-top: 64px;
  padding-bottom: 64px;

  .management__tenant-services-title {
    margin-top: 32px;
  }

  .management__tenant-services-text {
    margin-top: 32px;
  }

  .management__tenant-services-box {
    margin-top: 32px;

  }

  .management__tenant-services-sub-title {
    color: $persian-blue;
    font-weight: 600;
  }

  &__content {
    column-count: 2;
    column-gap: 9%;

    @include breakpoint(medium down) {
      column-count: unset;
    }

    &>div {
      margin-top: 32px;
    }

    div:first-child {
      margin-top: 0;
    }
  }

  &__content-info {
    display: inline-block;
  }

  h6 {
    color: $persian-blue;
  }

  &__contact-info {
    background-color: $pebble-black;
    color: $white;

    h6 {
      color: $white;
    }

    .contact-info-table {
      width: 100%;
      height: 100%;
    }

    .contact-info-row {
      background-color: $pebble-black !important;
      border-bottom: 1px solid #FFFFFF20 !important;
      min-height: 54px;
      padding: 8px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(medium down) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .contact-info-header {
      color: $fosill-grey;
      font-size: 12px;

      @include breakpoint(medium down) {
        .contact-info-cell {
          display: none;
        }
      }
    }

    .contact-info-cell {
      text-align: left;
      width: 33%;
    }

  }

}

.demographics {
  background-color: #f0f0f0;
  padding-top: 64px;
  padding-bottom: 64px;

  .demographics__text {
    margin-top: 32px;
  }

  .demographics__table-container {
    margin-top: 32px;
  }

  .demographics__table {
    width: 100%;
    height: 100%;

    .demographics__table-row {
      min-height: 54px;
      background-color: $white !important;
      border-bottom: 1px solid rgba($almost-black, 0.2) !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;

      @include breakpoint(medium down) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .demographics__table-header .demographics__table-row {
      height: 30px;
    }

    .demographics__table-header {
      color: $fosill-grey;
      font-size: 12px;
    }

    .demographics__table-cell-container {
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(medium down) {
        width: 100%;
      }
    }

    .demographics__table-cell-label {
      text-align: left;
      width: 25%;

      @include breakpoint(medium down) {
        width: 100%;
      }
    }

    .demographics__table-cell {
      text-align: left;
      width: 33.3%;
    }


  }

}

.tenants {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #f0f0f0;

  .tenants__text {
    margin-top: 32px;
  }
}

.tenant-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: unset;
  padding: 16px 24px;
  transition: box-shadow .2s;
  cursor: pointer;
  height: 200px;
  border-radius: 5px;
  margin-top: 32px;

  &:hover {
    box-shadow: 0 8px 24px 0 rgba($almost-black, 0.2);
  }

  &__logo {
    flex-grow: 1;
    display: flex;

    img {
      margin: auto;
      @include max-dimensions(100px, 100%);
    }
  }

  &__link {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;

    margin-top: 16px;
  }
}

.parcels {
  background-color: #f0f0f0;
  padding-top: 64px;
  padding-bottom: 64px;

  .parcels__text {
    margin-top: 32px;
  }

  .parcel-box {

    &__container {
      display: flex;
      background: $white;
      justify-content: space-between;
      flex-direction: row;
      padding: 0;
      border-radius: 5px;
      margin-top: 32px;

      @include breakpoint(medium down) {
        flex-direction: column-reverse;
      }
    }

    &__content {
      padding: 48px;
      width: 50%;

      @include breakpoint(medium down) {
        width: inherit;
        padding: 24px;
      }
    }

    &__name {
      font-size: 20px;
      font-weight: 500;
    }

    &__attributes {
      margin-top: 32px;
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(medium down) {
        justify-content: space-between;
      }
    }

    &__attribute {
      height: 72px;

      @include breakpoint(large) {
        width: 20%;
      }

      @include breakpoint(medium) {
        width: 33.3%;
      }

      @include breakpoint(small) {
        width: 50%;
      }


      &-name {
        font-size: 12px;
        font-weight: 600;
        color: $persian-blue;
      }

      &-value {
        color: $metal-black;
      }
    }

    &__map {
      background-image: url('https://www.cpvmfg.com/app/uploads/2018/04/map-placeholder.jpg');
      background-position: center;
      background-size: cover;
      border-radius: 0 5px 5px 0;
      width: 50%;

      @include breakpoint(large) {
        min-height: 500px;
      }

      @include breakpoint(medium down) {
        border-radius: 5px 5px 0 0;
        width: inherit;
        min-height: 300px;
      }
    }
  }
}

.site-plan {
  background-color: #f0f0f0;
  padding-top: 64px;
  padding-bottom: 64px;

  .site-plan__text {
    margin-top: 32px;
  }

  .site-plan__content {
    margin-top: 32px;
  }

  &__map-container {
    text-align: center;

    max-height: 500px;
    margin: auto;

    img {
      margin: auto;
      max-height: 500px;
    }
  }

  &__list {
    margin-top: 32px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    min-height: 88px;
    align-items: center;

    @include breakpoint(medium down) {
      flex-direction: column;
      align-items: flex-start;
      padding: 24px 0;
    }
  }

  // &__details {}

  &__name {
    font-weight: 500;
  }

  &__info {
    margin-top: 8px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    font-weight: 500;

    @include breakpoint(medium down) {
      margin-top: 24px;
    }
  }

  &__floor-plan {
    margin: 0 8px;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: rgba($almost-black, 0.8)
    }

    .site-plan__download-button-image {}

    .site-plan__download-button-text {
      margin-left: 8px;
    }
  }

  &__virtual-tour {
    margin-right: 8px;
    margin-left: 24px;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: rgba($almost-black, 0.8)
    }

    .site-plan__virtual-tour-image {}

    .site-plan__virtual-tour-text {
      margin-left: 8px;
    }
  }

  .site-plan__line {
    background-color: rgba($almost-black, 0.2);
    height: 1px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

}