.footer {
  background-color: $pebble-black;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 48px;

  .footer-container {
    padding: 0 4%;
  }

  .section-title {
    color: white;
  }

  .section-sub-title {
    color: white;
  }

  .contact-form {
    margin-top: 8px;
  }

  label {
    color: white;
    text-transform: uppercase;
    font-weight: 600;

    margin-top: 24px;
  }

  input,
  textarea {
    background-color: black !important;
    border: none !important;
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 3px !important;

    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      color: $pearl-white;
    }
  }

  input {
    height: 32px !important;
    margin: 0;
    margin-top: 8px;
  }

  textarea {
    height: 121px !important;
    margin: 0;
    margin-top: 8px;
  }

  &__button {
    margin-top: 24px;
  }

  &__address {
    margin-top: 48px;
    color: white;
    text-align: center;
    font-style: normal;
  }

  &__social-media-icons {
    display: flex;
    margin-top: 40px;

    img {
      margin-right: 16px;
    }

  }


  /*
   * MODIFIERS
   */

  &.footer--white {
    background-color: $white;

    .section-title {
      color: $almost-black;
    }

    .section-sub-title {
      color: $almost-black;
    }

    .contact-form {}

    label {
      color: $almost-black;
    }

    input,
    textarea {
      background-color: $white !important;
      color: $almost-black !important;
      border: 1px solid $pearl-white !important;

      &::placeholder,
      &:-ms-input-placeholder,
      &::-ms-input-placeholder {
        color: $pearl-white;
      }
    }

    .footer__address {
      color: $almost-black;
    }

  }

  &.footer--two-column {
    padding-top: 48px;

    .section-title,
    .section-sub-title,
    .footer__address {
      text-align: left;
      ;
    }


    .footer__name,
    .footer__phone {
      margin-top: 0;
    }

    .footer__address {
      margin-top: 32px;
    }

    @include breakpoint(large) {

      .footer__column-left {
        margin-right: 36px;
      }

      .footer__column-right {
        margin-left: 36px;
      }

    }

  }

}