.management {
  background-image: url("../img/background1.png");
  background-position: center;
  background-size: cover;

  @include padding-top(64px, 48px);
  @include padding-bottom(64px, 48px);

  .management__tenant-services-title {
    margin-top: 16px;
  }

  .management__tenant-services-text {
    @include margin-top(32px, 24px);
  }

  .management__tenant-services-box {
    @include margin-top(32px, 24px);
  }

  .management__tenant-services-sub-title {
    color: $persian-blue;
    font-weight: 600;
  }

  &__content {
    column-count: 2;
    column-gap: 9%;

    @include breakpoint(medium down) {
      column-count: unset;
    }

    &>div {
      margin-top: 32px;
    }

    div:first-child {
      margin-top: 0;
    }
  }

  &__content-info {
    display: inline-block;
  }

  h6 {
    color: $persian-blue;
  }

  &__contact-info {
    background-color: $pebble-black;
    color: $white;

    h6 {
      color: $white;
    }

    .contact-info-table {
      width: 100%;
      height: 100%;
    }

    .contact-info-row {
      background-color: $pebble-black !important;
      border-bottom: 1px solid #FFFFFF20 !important;
      min-height: 54px;
      padding: 8px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(medium down) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .contact-info-header {
      color: $fosill-grey;
      font-size: 12px;

      @include breakpoint(medium down) {
        .contact-info-cell {
          display: none;
        }
      }
    }

    .contact-info-cell {
      text-align: left;
      width: 33%;
    }

  }

}