.mobile-menu {
  position: absolute;
  height: calc(100vh + 88px);
  z-index: 1;
  background-color: $white;
  top: 0;

  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 32px;
  padding-right: 32px;


  // Base State
  $mobile-menu-transition-duration: .2s;

  left: 10%;
  width: 0px;
  opacity: 0;
  transition: opacity $mobile-menu-transition-duration ease-in,
    left $mobile-menu-transition-duration ease-in,
    width 0s $mobile-menu-transition-duration;

  &.active {
    transition: opacity $mobile-menu-transition-duration ease-in,
      left $mobile-menu-transition-duration ease-in,
      width 0s;

    opacity: 1;
    left: 0;
    width: 100vw;

    overflow: scroll;
  }

  .mobile-menu__line {
    width: 50px;
    height: 1px;
    background-color: $persian-blue;
  }

  .header__nav-link {
    margin-top: 16px;
    padding: 0;
  }

  .header__nav-button {
    margin-top: 48px;
    padding: 0;
  }
}