.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0px;

  padding-top: 32px;

  $separator-length: 30px;

  & .separator {
    display: inline-block;
    position: relative;
  }

  & .separator::before {
    left: 0 - $separator-length - 10px;
  }

  & .separator::after {
    right: 0 - $separator-length - 10px;
  }

  & .separator::before,
  & .separator::after {
    content: "";
    width: $separator-length;
    height: 2px;
    background-color: $persian-blue;
    position: absolute;
    top: 37%;
  }

  & .separator--white::before,
  & .separator--white::after {
    background-color: $white;
  }
}

.section-sub-title {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: $persian-blue;
  margin-top: 8px;
  margin-bottom: 32px;

  &--large-margin-top {
    margin-top: 32px;
  }

}