.section-title {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  $separator-length: 30px;

  .section-title__text {}

  .section-title__separator {
    width: $separator-length;
    margin: 0 16px;
    height: 2px;
    background-color: $persian-blue;

  }

  &.section-title--white {
    .section-title__text {
      color: $white;
    }

    .section-title__separator {
      background-color: $white;
    }
  }

}

.section-sub-title {
  font-weight: 600;
  color: $persian-blue;
  text-align: center;
}


////@include
.right-section {
  position: relative;

  &::before {
    position: relative;
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
  }
}